name: Exploring Variables and Secrets


on:
  push:


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Build
        run: docker build -t docker.io/sc3p73r/nodejs-test-app:latest .
      
      - name: Docker Login
        run: docker login --username=sc3p73r@outlook.com --password=Dream@123
      
      - name: Docker Publish
        run: docker push docker.io/sc3p73r/nodejs-test-app:latest


  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: Docker Run
        run: docker run -d -p 8000:80 sc3p73r/nodejs-test-app:latest

      - name: Verify Docker Container
        run: curl localhost:8000
