name: My Simple Workflow
on: 
  push:
    branches:
      - main


jobs:
  ascii_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4


      - name: List Current Files
        run: ls -ltra


      - name: Run ASCII Art Script
        run: ./ascii-script.sh