name: Exploring Variables and Secrets


on:
  push:
   branches:
      - main


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Install Docker
        run: curl https://get.docker.com | sh
        
      - name: Docker Build
        run: docker build -t docker.io/sc3p73r/nodejs-test-app:latest .
      
      - name: Docker Login
        run: docker login --username=sc3p73r@outlook.com --password=Dream@123
      
      - name: Docker Publish
        run: docker push docker.io/sc3p73r/nodejs-test-app:latest


  # deploy:
  #   needs: docker
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Docker Run
  #       run: docker run -d -p 8000:80 docker.io/dockerUsername/imageName:latest