name: Exploring Variables and Secrets


on:
  push:

env: 
  IMAGE_NAME: nodejs-test-app

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Build
        run: docker build -t ${{ env.CONTAINER_REGISTRY }}/${{env.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}:latest .
      
      - name: Docker Login
        run: docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD
      
      - name: Docker Publish
        run: docker push ${{ env.CONTAINER_REGISTRY }}/${{env.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}:latest


  # deploy:
  #   needs: docker
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Docker Run
  #       run: docker run -d -p 8000:80 --name nodejs-app sc3p73r/nodejs-test-app:latest

  #     - name: Verify Docker Container
  #       run: docker logs nodejs-app